[submodule "file"]
	path = file
	url = https://github.com/rkitover/file.git
[submodule "dirent"]
	path = dirent
	url = https://github.com/tronkko/dirent.git
[submodule "getopt"]
	path = getopt
	url = https://github.com/skandhurkat/Getopt-for-Visual-Studio.git
[submodule "pcre2"]
	path = pcre2
	url = https://github.com/PhilipHazel/pcre2.git
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "lzma"]
	path = lzma
	url = https://git.tukaani.org/xz.git
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
